services:
  app:
    build: 
      context: ./app

    env_file:
      - .env

    ports:
      - "8000:8000"

    volumes:
      - "./app:/app"

    depends_on:
      - db
      - redis
  
  db:
    image: postgres:15.2-alpine
    restart: always
    env_file:
      - .env

    ports:
      - '5432:5432'
    volumes: 
      - db:/var/lib/postgresql/data

  redis:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    volumes: 
      - cache:/data

volumes:
  db:
    driver: local

  cache:
    driver: local

 